/* CSS file */

Button.PlayButtonStopped
{
	downSkin: Embed('/assets/active-play.png');
	overSkin: Embed('/assets/hover-play.png');
	upSkin: Embed('/assets/normal-play.png');
}
Button.PlayButtonStarted
{
	downSkin: Embed('/assets/active-pause.png');
	overSkin: Embed('/assets/hover-pause.png');
	upSkin: Embed('/assets/normal-pause.png');
}
DataGrid.FilterPane
{
	paddingBottom: 0;
	paddingTop: 0;
	rowHeight:16; 
	 width: '100%'; 
	 height:'100%';
	
}
ProgressSlider.ProgressSlider
{
	showTrackHighlight: true;
	thumbDownSkin: Embed('/assets/progress-thumb.png');
	thumbOverSkin: Embed('/assets/progress-thumb.png');
	thumbSkin: Embed('/assets/progress-thumb.png');
	trackHighlightSkin: Embed('/assets/progress-highlight.png');
	trackSkin: Embed('/assets/progress.png');
	verticalCenter:-4;
	slide-easing-function: 0;
	slide-duration:0;
}
CheckBox.LoopCheckBox
{
	downIcon: Embed('/assets/repeat-off.png');
	icon: Embed('/assets/repeat-off.png');
	selectedDownIcon: Embed('/assets/repeat-on.png');
	selectedOverIcon: Embed('/assets/repeat-on.png');
	selectedUpIcon: Embed('/assets/repeat-on.png');
	upIcon: Embed('/assets/repeat-off.png');
	verticalCenter:0;
	right:0; 
}
CheckBox.ShuffleCheckBox
{
	downIcon: Embed('/assets/shuffle-off.png');
	icon: Embed('/assets/shuffle-off.png');
	selectedDownIcon: Embed('/assets/shuffle-on.png');
	selectedOverIcon: Embed('/assets/shuffle-on.png');
	selectedUpIcon: Embed('/assets/shuffle-on.png');
	upIcon: Embed('/assets/shuffle-off.png');
	verticalCenter:0;
	left:0; 
}
Button.ForwardButton
{
	downSkin: Embed('/assets/active-fwd.png');
	overSkin: Embed('/assets/hover-fwd.png');
	upSkin: Embed('/assets/normal-fwd.png');
}
Button.BackButton
{
	downSkin: Embed('/assets/active-back.png');
	overSkin: Embed('/assets/hover-back.png');
	upSkin: Embed('/assets/normal-back.png');
}
Button.VolDownButton
{
	downSkin: Embed('/assets/hover-vol-down.png');
	overSkin: Embed('/assets/hover-vol-down.png');
	upSkin: Embed('/assets/normal-vol-down.png');
}
HSlider.VolumeSlider
{
	thumbDownSkin: Embed('/assets/volume-thumb-active.png');
	thumbOverSkin: Embed('/assets/volume-thumb-active.png');
	thumbSkin: Embed('/assets/volume-thumb.png');
	trackSkin: Embed('/assets/volume-track-bkgd.png');
	verticalCenter: -5;
	horizontalCenter: 0;
	slide-easing-function: 0;
	slide-duration:0;
}
Display.Display
{
	 horizontal-center:0; 
	 vertical-center:0 ;
	 background-size:"100%";
				
	backgroundImage: Embed('/assets/faceplate-bkgd.png', scaleGridTop='10', scaleGridBottom='45', scaleGridLeft='10', scaleGridRight='65');
}
Button.VolumeUpButton
{
	downSkin: Embed('/assets/hover-vol-up.png');
	overSkin: Embed('/assets/hover-vol-up.png');
	upSkin: Embed('/assets/normal-vol-up.png');
}
Image.LeftVolSlider
{
	
}
SpectrumAnalyzer{
	vuCount:16;
	vuLevels:27;
}
SpectrumAnalyzer.dimmed
{
	colorTop:"0xFFFF00";
	colorMax:"0xFF0000";
	colorActive:"0x222222";
	colorInactive:"0x000000";
	alphaTop:"0.5";
	alphaMax:"0.3";
	alphaActive:"0.25";
	alphaInactive:"0.10";
}
SpectrumAnalyzer.visible
{
	colorTop:"0xFFFF00";
	colorMax:"0xFF0000";
	colorActive:"0x222222";
	colorInactive:"0x000000";
	alphaTop:"0.9";
	alphaMax:"0.6";
	alphaActive:"0.6";
	alphaInactive:"0.2";
}

FilterPane.disabled
{
	color:"#DDDDDD";
}
FilterPane.enabled
{
	color:"#000000";
}
