A:link		{color:#004675; text-decoration: none;}
A:active	{color:#004675; text-decoration: underline;}
A:visited	{color:#004675; text-decoration: none;}
A:hover		{color:#004675; text-decoration: underline;}

.noprint	{display: inline;}
.noscreen	{display: none;}

html, body {
	background: #eeeeee; 
	margin: 0;
	padding: 0;
	height: 100%;
}

div#page {
	width:100%;
	position: absolute;
	top: 20%; left: 0;

}

.b2		{background: #ffffff; margin: 20px; padding: 10px; text-align: left;}

h2		{font-family: Tahoma, Sans-Serif; color: #004675; margin-top: 10px;}
h3		{font-family: Tahoma, Sans-Serif; font-size: 10pt; font-weight: bold; color: #004675; margin-bottom: 0px; margin-top: 0px;}

.p1,TABLE		{font-family: Tahoma, Sans-Serif; font-size: 10pt; color:#606060; margin-bottom: 10px; margin-top: 0px;}
.p2		{font-family: Tahoma, Sans-Serif; font-size: 10pt; font-weight: bold; color:#606060;}
.p3		{font-family: Tahoma, Sans-Serif; font-size: 9pt; color:#606060;}

UL		{font-family: Tahoma, Sans-Serif; font-size: 10pt; color:#606060; margin-bottom: 10px; margin-top: 0px;}
OL		{font-family: Tahoma, Sans-Serif; font-size: 10pt; color:#606060; margin-bottom: 10px; margin-top: 0px;}


.tb1	{width: 100%; }
.tr1	{font-family: Tahoma, Sans-Serif; font-size: 7pt; color:#004675;}
.tr2	{background-color: #FFFFFF; height: 200pt;}
.tr3	{font-family: Tahoma, Sans-Serif; font-size: 7pt; color:#004675;}
