<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>yass : Yet Another Streaming Server</display-name>
	<description>Yet Another Streaming Server</description>
	<context-param>
		<description>Media Files Root</description>
		<param-name>org.yass.mediaFilesRoot</param-name>
		<param-value>/Volumes/Arc - 1/Music</param-value>
	</context-param>
	<context-param>
		<description>Media Files Extensions</description>
		<param-name>org.yass.mediaFilesExtensions</param-name>
		<param-value>mp3</param-value>
	</context-param>
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.yass.listener.Init</listener-class>
	</listener>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>